@model IEnumerable<EmpresaImportadoraDC.Models.Entities.Cliente>

@{
    ViewData["Title"] = "Index";
}

<section class="content">
    <div class="container-fluid">
        <br />
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Clientes</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="index" asp-controller="Clientes">Inicio</a></li>
                    <li class="breadcrumb-item active">Clientes</li>
                </ol>
            </div>
        </div>
        <br />
        <p>
            <a onclick="mostrarModalG('@Url.Action("CrearCli","Clientes","null", Context.Request.Scheme)', 'Registrar cliente')" class="btn btn-success "><i class="fas fa-plus"></i> Registrar cliente</a>
        </p>
        <table class="table" id="tabla">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NumeroCasillero)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NombreCliente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Correo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DireccionEntrega)
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroCasillero)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Correo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DireccionEntrega)
                        </td>
                        <td>
                            <a asp-action="VerDetallePaqueteCliente" asp-route-id="@item.ClienteId" class="btn btn-dark"><i class="fas fa-info-circle"></i></a>
                            <a onclick="mostrarModalG('@Url.Action("EditarCli","Clientes", new {id = item.ClienteId}, Context.Request.Scheme)', 'Editar cliente')" class="btn btn-success"><i class="fas fa-pencil-alt"></i></a>

                            <form asp-action="EliminarCliente" asp-route-id="@item.ClienteId" class="d-inline">
                                <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</section>
@section Scripts{

    <script src="~/js/tabla.js"></script>
    <script src="~/js/modals.js"></script>
    <script>
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("RegistrarCliente")) { <text>
                  Swal.fire({
                    title: "Registrar cliente",
                      icon: 'success',
                    html: "@TempData["Mensaje"]"
                  });
                 </text>
        }

         @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("EditarCliente")) { <text>
                  Swal.fire({
                    title: "Editar cliente",
                      icon: 'success',
                    html: "@TempData["Mensaje"]"
                  });
                 </text>
        }

        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("EliminarCliente")) { <text>
                  Swal.fire({
                    title: "Eliminar cliente",
                      icon: 'success',
                    html: "@TempData["Mensaje"]"
                  });
                 </text>
        }

        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("RegistrarClienteRC")) { <text>
                  Swal.fire({
                      title: "RegistrarClienteRC",
                      icon: 'error',
                    html: "@TempData["Mensaje"]"
                  });
                 </text>
        }

         @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("EditarClienteEC")) { <text>
                  Swal.fire({
                      title: "EditarClienteEC",
                      icon: 'error',
                    html: "@TempData["Mensaje"]"
                  });
                 </text>
        }

          @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("EliminarClienteEC")) { <text>
                  Swal.fire({
                      title: "EliminarClienteEC",
                      icon: 'error',
                    html: "@TempData["Mensaje"]"
                  });
                 </text>
        }

    </script>
}