@model IEnumerable<EmpresaImportadoraDC.Models.Entities.Transportadora>

@{
    ViewData["Title"] = "Index";
}

@section Styles{ }

<h1>Index</h1>

<p>
    <a asp-action="CrearTr" class="btn btn-success">Crear Transportadora</a>
</p>
<table class="table" id="tabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pais)
                </td>
                <td>
                    <a asp-action="EditarTr" asp-route-id="@item.TransportadoraId" class="btn btn-success">Editar</a> |

                    <form asp-action="EliminarTr" asp-route-id="@item.TransportadoraId" class="d-inline">
                        <button type="submit" onclick="confirm('¿Desea eliminar esta transportadora?')" class="btn btn-danger"><i class="fas fa-user-minus"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script src="~/js/tabla.js"></script>
}
