@model IEnumerable<EmpresaImportadoraDC.Models.Entities.Transportadora>

@{
    ViewData["Title"] = "Index";
}

@section Styles{ }



<br />
<div class="row mb-2">
    <div class="col-sm-6">
        <h1 class="m-0">TRANSPORTADORAS</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a asp-action="index" asp-controller="Transportadoras">Inicio</a></li>
            <li class="breadcrumb-item active">Transportadoras</li>
        </ol>
    </div>
</div>
<br />
<p>
    <a asp-action="CrearTr" class="btn btn-success "><i class="fas fa-plus"></i> Registrar transportadora</a>
</p>
<table class="table" id="tabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pais)
                </td>
                <td>
                    <a asp-action="EditarTr" asp-route-id="@item.TransportadoraId" class="btn btn-success"><i class="fas fa-pencil-alt"></i></a> |

                    <form asp-action="EliminarTr" asp-route-id="@item.TransportadoraId" class="d-inline">
                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script src="~/js/tabla.js"></script>

<script>
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("CrearTra")) { <text>
                  Swal.fire({
                    title: "Proceso finalizado",
                      icon: 'success',
                    html: "@TempData["Mensaje"]"
                  });
                 </text>
        }

         @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("EditarTra")) { <text>
                  Swal.fire({
                    title: "Proceso finalizado",
                      icon: 'success',
                    html: "@TempData["Mensaje"]"
                  });
                 </text>
        }

         

        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("EliminarTra")) { <text>
                  Swal.fire({
                    title: "Proceso finalizado",
                      icon: 'success',
                    html: "@TempData["Mensaje"]"
                  });
                 </text>
        }

        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Error")) { <text>
                  Swal.fire({
                    title: "Error",
                      icon: 'error',
                    html: "@TempData["Mensaje"]"
                  });
                 </text>
        }

</script>
}