@model EmpresaImportadoraDC.Models.Entities.Paquete

@{
    ViewData["Title"] = "Detalle";
}

<section class="content">
    <div class="container-fluid">
        <br />
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">DETALLE DE PAQUETE</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item active">Detalle de paquete</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<br />
<form asp-route-id="@Model.PaqueteId">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label"><strong>Código: </strong> @Model.Codigo</label>
    </div>
    <div class="form-group">
        <label class="control-label"><strong>Peso en libras: </strong> @Model.PesoLibras</label>
    </div>
    <div class="form-group">
        <label class="control-label"><strong>Cliente: </strong> @Model.Cliente.NombreCliente</label>
    </div>
    <div class="form-group">
        <label class="control-label"><strong>Estado: </strong> @Model.Estado</label>
    </div>
    <div class="form-group">
        <label class="control-label"><strong>Guía transportadora USA: </strong> @Model.NoGuiaUSA</label>
    </div>
    <div class="form-group">
        <label class="control-label"><strong>Empresa transportadora USA : </strong> @Model.TransportadoraUSA</label>
    </div>
    <div class="form-group">
        <label class="control-label"><strong>Tipo de mercancía: </strong> @Model.Mercancia.TipoMercancia</label>
    </div>
    <div class="form-group">
        <label class="control-label"><strong>Imagen: </strong> </label>
    </div>
    <div class="form-group">
        <label class="control-label"><strong>Guía transportadora CO: </strong> @Model.NoGuiaCO</label>
    </div>
    <div class="form-group">
        <label class="control-label"><strong>Empresa transportadora CO: </strong> @Model.TransportadoraCO</label>
    </div>
    <div class="form-group">
        <label class="control-label"><strong>Valor total: </strong> @Model.ValorTotal</label>
    </div>
</form>
        





