@model EmpresaImportadoraDC.Models.Entities.Paquete

@{
    ViewData["Title"] = "Detalle";
    Layout = null;
}

<div class="container-fluid">
    
        <form asp-route-id="@Model.PaqueteId">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <p><strong>Código: </strong> @Model.Codigo</p>
            </div>
            <div class="form-group">
                <p><strong>Peso en libras: </strong> @Model.PesoLibras</p>
            </div>
            <div class="form-group">
                <p><strong>Cliente: </strong> @Model.Cliente.NombreCliente</p>
            </div>
            <div class="form-group">
                <p><strong>Estado: </strong> @Model.Estado</p>
            </div>
            <div class="form-group">
                <p><strong>Guía transportadora USA: </strong> @Model.NoGuiaUSA</p>
            </div>
            <div class="form-group">
                <p><strong>Empresa transportadora USA : </strong> @Model.TransportadoraUSA</p>
            </div>
            <div class="form-group">
                <p><strong>Tipo de mercancía: </strong> @Model.Mercancia.TipoMercancia</p>
            </div>
            <div class="form-group">
                
                @if (Model.RutaImagen != null)
                {                    
                    <img src="@("~/imagenes/" + Model.RutaImagen)" asp-append-version="true" class="img-fluid w-25 h-auto" />
                }
                else
                {
                    <p>No hay imagen asociada al paquete</p>
                }
            </div>
            <div class="form-group">
                <p><strong>Guía transportadora CO: </strong> @Model.NoGuiaCO</p>
            </div>
            <div class="form-group">
                <p><strong>Empresa transportadora CO: </strong> @Model.TransportadoraCO</p>
            </div>
            <div class="form-group">
                <p><strong>Valor total: </strong> @Model.ValorTotal</p>
            </div>
        </form>    
 </div>
<br/>





