@model IEnumerable<EmpresaImportadoraDC.Models.Entities.Paquete>

@{
    ViewData["Title"] = "Index";
}

<section class="content">
    <div class="container-fluid">
        <br/>
        <p>
            <a asp-action="" class="btn btn-success">Registrar paquete</a>
        </p>
        <table class="table" id="tabla">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Codigo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PesoLibras)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ClienteId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PesoLibras)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.NombreCliente) | @Html.DisplayFor(modelItem => item.Cliente.NumeroCasillero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        <a asp-action="" class="btn btn-success">Detalle</a>
                    </td>
                </tr>
            }
            </tbody>

        </table>
    </div>
</section>